<html>
<head>
<title>PasswordChange</title>
<link rel="icon" href="../images/icon.jpg" type="image/gif" >
<link rel="stylesheet" href="../static/changepassword_admin/css/style.css"/>
<script src="../static/changepassword_admin/js/changepassword_admin.js"></script>
</head>
<body>
  <script type="text/javascript">
    var cookie = getCookies('userid');
    var type = getCookies('type');
    if(cookie == "" || type == ""){
      window.location = 'login.html';
    }
    else if(cookie != "" && type == "student" ){
      logout()
    }
  </script>
<div class = "title">
<h1> Academic Information Management,NMAMIT </h1>
<h2>Change Password</h2>
</div>
<div class = "menu">
<nav>
  <ul class="nav">
    <li><a href="AIM_home.html">Home</a>
  </li>
      <li><a href="#">Courses</a>
    <ul>
      <li><a href = "addcourse.html">Add Course</a></li>
      <li><a href = "updatescores.html">Update Scores</a></li>
    </ul>
  </li>
    <li><a href="#">Student</a>
      <ul>
        <li><a href="addstudent.html">Add Student</a></li>
        <li><a href="viewupdate.html">View</a></li>
      </ul>
    </li>
  </ul>
</nav>
</div>
<div class = "changepassword" method = "POST" onsubmit = "return false">
<!-- onsubmit return false is used to stop page from reloading after request is posted -->
<form id = "changepassword">
<span id ="error"></span>
<label><br>Current Password:</label>
<input type="password" name="current" id="current" value = ""
       onfocus="inputFocus(this)" onblur="inputBlur(this)" onkeypress="searchkeypress()"/>
<label><br>New Password :</label>
<input type="password" name="new" id="new" value = ""
       onfocus="inputFocus(this)" onblur="inputBlur(this)" onkeypress="searchkeypress()"/>
<label><br>Confirm Password :</label>
<input type="password" name="confirmnew" id="confirmnew" value = ""
       onfocus="inputFocus(this)" onblur="inputBlur(this)" onkeypress="searchkeypress()"/>
  <button class = "button" id = "submit" onclick = "return changepassword()">Submit</button>  
  </form> <!-- to stop button from refreshing , false  is returned to method-->
</div>
</body>
</html>	