<html>
<head>
<title>LOGIN</title>
<!-- Include CSS File Here -->
<link rel="stylesheet" href="../static/login/css/style.css">
<!-- Include JS File Here -->
<script src="../static/login/js/login.js"></script>
</head>
<body background="./index.jpg">
<div class="container">
<div class="main">
<h2>NMAM Institue Of Technology</h2>
<p>login as administrator <a href="adminlogin.html">admin login</a> ?</p>
<form id="form_id" method="post" name="myform">
<label>User Name :</label>
<!-- <input type="text" name="username" id="username"/> -->
<input type="text" name="username" id="username" value = "ENTRY USN"
		onfocus="inputFocus(this)" onblur="inputBlur(this)"/>
<label>Password :</label>
<!-- <input type="password" name="password" id="password"/> -->
<input type="password" name="password" id="password" value = "Default:USN"
        onfocus="inputFocus(this)" onblur="inputBlur(this)"/>
<input type="button" value="Login" id="submit" onclick="validate()"/>
</form>
</div>
</div>
</body>
</html>

