<html>
<head>
<title>View&Update</title>
<link rel="icon" href="../images/icon.jpg" type="image/gif" >
<link rel="stylesheet" href="../static/viewupdate/css/style.css"/>
<script src="../static/viewupdate/js/viewupdate.js"></script>
</head>
<body>
  <script type="text/javascript">
    var cookie = getCookies('userid');
    var type = getCookies('type');
    if(cookie == "" || type == ""){
      window.location = 'login.html';
    }
    else if(cookie != "" && type == "student" ){
      logout()
    }
  </script>
<div class = "title">
<h1> Academic Information Management , NMAMIT </h1>
</div>
<div class = "menu">
<nav>
  <ul class="nav">
    <li><a href="AIM_home.html">Home</a>
	</li>
      <li><a href="#">Courses</a>
    <ul>
      <li><a href = "addcourse.html">Add Course</a></li>
      <li><a href = "updatescores.html">Update Scores</a></li>
    </ul>
  </li>
    <li><a href="#">Student</a>
      <ul>
        <li><a href="addstudent.html">Add Student</a></li>
        <li><a href="viewupdate.html">View</a></li>
      </ul>
    </li>
  </ul>
</nav>
</div>
<div class = "usn">
<div>
<label>Enter USN :</label> 
<input type="text" name="usn" id="usn" value = "4NM10CS073" onkeypress="searchkeypress()" 
    onfocus="inputFocus(this)" onblur="inputBlur(this)" /> <span id ="error" > </span>
 <button class = "button" id = "submit" onclick="fetchdata()">Submit</button>  
</div>
</div>
<div id = "table" style = "visibility: hidden" >
    <table id="table-marks" style="color:#333333;border-collapse:collapse; margin-top: 40px">
   </table>
</div>
<div class = "custom-select" id="option-div" style = " visibility : hidden ; width:300px; margin: 10px 10px 10px 10px;">
<script type="text/javascript"> fetchcourses()</script>
<select id = "courses">
</select>
</div>
<button class = "button" id = "enroll" onclick="enrollNewCourse()" style = " visibility : hidden">Enroll</button>
<div class = "buttons" style = "visibility: hidden;margin: 5px 5px 5px 5px;" >
 <button class = "button" id = "edit" onclick = "showeditboxes()">Add New Marks</button>
 <button class = "button" id = "update_scores" onclick="updatescores()">Update Scores </button>
</div>
</body>
</html>