<html>
<head>
<title>NewStudent</title>
<link rel="icon" href="../images/icon.jpg" type="image/gif" >
<link rel="stylesheet" href="../static/addstudent/css/style.css"/>
<script src="../static/addstudent/js/addstudent.js"></script>
</head>
<body>
  <script type="text/javascript">
    var cookie = getCookies('userid');
    var type = getCookies('type');
    if(cookie == "" || type == ""){
      window.location = 'login.html';
    }
    else if(cookie != "" && type == "student" ){
      logout()
    }
  </script>
<div class = "title">
<h1> Academic Information Management , NMAMIT </h1>
<h2>ADD NEW STUDENT</h2>
  <input type="button" value="Logout" id = "logout" onclick = "logout()" />
</div>
<div class = "menu">
<nav>
  <ul class="nav">
    <li><a href="AIM_home.html">Home</a>
	</li>
    <li><a href="#">Student</a>
      <ul>
        <li><a href="addstudent.html">Add Student</a></li>
        <li><a href="viewupdate.html">View</a></li>
      </ul>
    </li>
  </ul>
</nav>
</div>
<div class = "addstudent" method = "POST" onsubmit = "return false">
<!-- onsubmit return false is used to stop page from reloading after request is posted -->
<form id="newstudent_form"/>
<label><br>Enter USN :</label>
<input type="text" name="usn" id="usn" value = "4NM10CS073"
       onfocus="inputFocus(this)" onblur="inputBlur(this)" onkeypress="searchkeypress()"/><span id ="error"></span>
    <br>
<label>Enter Name :</label>
<input type="text" name="name" id="name" value = ""
       onfocus="inputFocus(this)" onblur="inputBlur(this)" onkeypress="searchkeypress()"/>
  <button class = "button" id = "submit" onclick = "return addstudent()">Submit</button>  
  </form> <!-- to stop button from refreshing , false  is returned to method-->
</div>
</body>
</html>	