<html>
<head>
<title>adminlogin</title>
<link rel="stylesheet" href="../static/adminlogin/css/style.css"/>
<script src="../static/adminlogin/js/adminlogin.js"></script>
</head>
<body>
  <script type="text/javascript">
    var cookie = getCookies('userid');
    var type = getCookies('type');
    if(cookie != "" || type == "admin"){
      window.location = 'AIM_home.html';
    }
    else if(cookie != "" && type == "student" ){
      logout()
    }
  </script>
<div class="container">
<div class="main">
<h2>Administrator Login</h2>
<form id="form_id" method="post" name="myform">
<label><br>User Name :</br></label>
<input type="text" name="username" id="username" value = "username"
		onfocus="inputFocus(this)" onblur="inputBlur(this)" onkeypress="searchkeypress()"/><span id ="error"></span>
		<br>
<label>Password :</label>
<input type="password" name="password" id="password" value = "password"
        onfocus="inputFocus(this)" onblur="inputBlur(this)" onkeypress="searchkeypress()"/>
<input type="button" value="Login" id="submit" onclick="validate()"/>
</form>
</div>
</div>
</body>
</html>