.title{
width: 95%;
height: 50px;
padding: 30px 35px;
margin: 0px 5px 0px 5px;
text-align:center;
border-radius: 10px 10px 0 0;
background-color:  #c4a3dc24;
}
.title h1{
color: #428bca ;
padding: 15px 20px;
margin: 10px ;
text-align:center;
border-radius: 10px 10px 0 0;
}
.title h2{
color:#4e505d ;
padding: 15px 20px;
margin: 10px ;
text-align:center;
border-radius: 10px 10px 0 0;
}
div.menu{
width: 98%;
height: 90px;
padding: 15px 15px;
margin: 0px 5px 0px 5px;
text-align:center;
border-radius: 10px 10px 0 0;
background-color:  #c4a3dc24;
}
nav {  
width: 98%;
height: 60px;
margin-top: 15px;  
  display: block;
  text-align: center;
}
nav ul {
  margin: 0;
  padding:0;
  list-style: none;
}
.nav a {
  display:block; 
  background: #111; 
  color: #fff; 
  text-decoration: none;
  padding: 0.8em 1.8em;
  text-transform: uppercase;
  font-size: 100%;
  letter-spacing: 2px;
  text-shadow: 0 -1px 0 #000;
  position: relative;
}
.nav{  
  vertical-align: top; 
  display: inline-block;
  box-shadow: 
    1px -1px -1px 1px #000, 
    -1px 1px -1px 1px #fff, 
    0 0 6px 3px #fff;
  border-radius:6px;
}
.nav li {
  position: relative;
  margin-left: 0px;
  margin-top: 20px;
}
.nav > li { 
  float: left; 
  border-bottom: 4px #aaa solid; 
  margin-right: 1px; 
} 
.nav > li > a { 
  margin-bottom: 1px;
  box-shadow: inset 0 2em .33em -0.5em #555; 
}
.nav > li:hover, 
.nav > li:hover > a { 
  border-bottom-color: orange;
}
.nav li:hover > a { 
  color:orange; 
}
.nav > li:first-child { 
  border-radius: 4px 0 0 4px;
} 
.nav > li:first-child > a { 
  border-radius: 4px 0 0 0;
}
.nav > li:last-child { 
  border-radius: 0 0 4px 0; 
  margin-right: 0;
} 
.nav > li:last-child > a { 
  border-radius: 0 4px 0 0;
}
.nav li a:first-child:nth-last-child(2):before { 
  content: ""; 
  position: absolute; 
  height: 0; 
  width: 0; 
  border: 5px solid transparent; 
  top: 50% ;
  right:5px;  
 }
 .nav ul {
  position: absolute;
  white-space: nowrap;
  border-bottom: 5px solid  orange;
  z-index: 1;
  left: -99999em;
}
.nav > li:hover > ul {
  left: auto;
  margin-top: 5px;
  min-width: 100%;
}

/* arrow hover styling */
.nav > li > a:first-child:nth-last-child(2):before { 
  border-top-color: #aaa; 
}
.nav > li:hover > a:first-child:nth-last-child(2):before {
  border: 5px solid transparent; 
  border-bottom-color: orange; 
  margin-top:-5px
}
input[type = button]
{

   position:absolute;
   right:5px;
   top:10px;
   font-size: 17px;
background: linear-gradient(##3c3c3 5%, #dbdcd38f 100%);
border: 1px solid #bdb9ae;
color: #4E4D4B;
font-weight: bold;
cursor: pointer;
width: 6%;
border-radius: 5px;
padding: 10px 0;
outline:none;
}
input[type=button]:hover{
background: linear-gradient(#a6a6a6 10%,  #ffe6e6 100%);
}
div.addcourse{
width: 300px;
height : 250px;
padding: 10px 50px 25px;
border: 2px solid gray;
border-radius: 10px;
font-family: raleway;
float:left;
margin-top:10px;
margin-left: 30%;
}
input[type=text]{
width: 100%;
height: 40px;
padding: 5px;
margin-bottom: 25px;
margin-top: 5px;
border: 2px solid #ccc;
color: #4f4f4f;
font-size: 16px;
border-radius: 5px;
}
label{
color: #464646;
text-shadow: 0 1px 0 #fff;
font-size: 14px;
font-weight: bold;
}
center{
font-size:32px;
}
.note{
color:red;
}
.valid{
color:green;
}
.back{
text-decoration: none;
border: 1px solid rgb(0, 143, 255);
background-color: rgb(0, 214, 255);
padding: 3px 20px;
border-radius: 2px;
color: black;
}
#error
{
  color : red;
  font-size = 10px;
}
#submit
{
  font-size: 16px;
background: linear-gradient(#8383ab 5%, #e2d9c1 100%);
border: 1px solid #bfbaad;
color: #4E4D4B;
font-weight: bold;
cursor: pointer;
width: 100%;
border-radius: 5px;
padding: 10px 0;
outline:none;
}